[2020-04-04 23:34] fvictorio opened #4 "`parse` fails to parse empty files with `{ loc: true }` option"
Original issue: federicobond/solidity-parser-antlr#95

[2020-04-05 15:07] fvictorio commented on #4
Closed by #5.

[2020-04-05 15:07] #4 closed

[2020-04-06 14:18] fvictorio opened #7 "Handle `payable` when used as a function"
When payable is used as a function (to cast an address to a payable address), the parser doesn't return a proper node:

[code]

Notice that `expression` should be `{ type: 'Identifier', name: 'payable' }`

[2020-04-08 07:15] gitpusha opened #9 "ParserError: Could not instrument: ... extraneous input '....' expecting {';', '='}"
Hi,

Like @fvictorio asked me to in[ this issue](https://github.com/sc-forks/solidity-coverage/issues/481#issuecomment-610658409) in the solidity-coverage repo, I opening the [same issue](https://github.com/sc-forks/solidity-coverage/issues/493) here:

First of all thank you for building and maintaining this tool.

I was trying to use the `solidity-coverage` buidler plugin for the first time, and

[2020-04-08 13:27] #7 closed

[2020-04-08 13:33] fvictorio commented on #9
This actually works with this parser, but I'm going to keep this issue open because the generated AST node doesn't indicate that the declaration has an override.

Question: do `override`s in variable declarations accept some possible "arguments" like overrides in method declarations? I guess not, but want to be 100% sure.

I mean, in function you can do `function foo() override (Base)`. Can you do

[2020-04-08 13:51] fvictorio commented on #9
Ok, tested it out in remix and it seems is possible. Will work on this.

[2020-04-08 15:21] gitpusha commented on #9
Sorry I was late. But thank you for trying it out.

Sorry I am confused. Does this mean that the bug is somewhere else in the solidity-coverage tool, or can it be traced to the parser dependency, after all?

[2020-04-08 16:00] cgewecke commented on #9
@gitpusha

Going to switch Solidity-Coverage over to this parser today and will add your example to the unit tests. But it sounds like for the coverage tool's needs (which are quite coarse) this syntax will be ok.

[2020-04-08 16:32] fvictorio commented on #9
Awesome! Let me know if there are other parser-related issues in solidity-coverage.

[2020-04-08 18:19] fvictorio opened #11 "Remove semantic checks"
There are some semantic checks in the parser, like for example checking if a `receive` function is `payable`.

In my opinion, this should be a compiler's responsibility. The parser should err on the permissive side, accepting anything that makes sense syntactically. Otherwise, we should also do things like, for example, emitting warning on deprecated constructions. Plus, this kind of stuff depends

[2020-04-08 18:22] fvictorio opened #12 "Fix AssemblyStackAssignment"
Original issue: https://github.com/ConsenSys/solidity-parser-antlr/issues/7

[2020-04-08 18:23] fvictorio opened #13 "Check if index.d.ts is up to date"
Original issue: https://github.com/ConsenSys/solidity-parser-antlr/issues/3

@Janther this is still relevant, right?

[2020-04-09 02:43] Janther commented on #13
I believe if we are using typescript this should be used properly. mainly for third parties.

[2020-04-09 07:59] gitpusha commented on #9
@fvictorio @cgewecke I thank you very much for your efforts!

I am looking forward to generating my first solidity-coverage report!

@cgewecke I assume your update will also work for buidler `usePlugin("solidity-coverage")` since buidler does not use its own solidity-coverage dependency? So all I need to do is to upgrade the `solidity-coverage` package I have installed in my project and `npx buidl

[2020-04-09 13:53] #9 closed

[2020-04-09 15:55] cgewecke commented on #9
@gitpusha Yes, correct.

[2020-04-09 16:34] gitpusha commented on #9
@fvictorio and @cgewecke thanks for the update.

However, now I get a new Parser Error, I assume one of the following things could be the issue with my expressions in the contract (that compiles fine):

- `pragma experimental ABIEncoderV2` in order to accept solidity `structs` and `nested structs` as `function params` and to `emit` them in `events`.

- I am using solidity `try/catch` expressions

[2020-04-09 16:38] gitpusha opened #14 "Error: Could not instrument: ..... Unrecognized expression"
@fvictorio and @cgewecke thanks for the update in issue #9 .

However, now I get a new Parser Error, I assume one of the following things could be the issue with my expressions in the contract (that compiles fine):

- `pragma experimental ABIEncoderV2` in order to accept solidity `structs` and `nested structs` as `function params` and to `emit` them in `events`. (btw the EncoderV2 is not considere

[2020-04-09 16:42] fvictorio commented on #14
@gitpusha can you share a link to the contract that is causing this? Or, if that's not possible, to add a minimal snippet that reproduces the issue?

[2020-04-09 16:54] cgewecke commented on #14
@gitpusha Have you manually changed the parser yourself? I have not published a new coverage version yet.

[2020-04-09 17:18] gitpusha commented on #14
HI @fvictorio and @cgewecke ,  I was under the impression that there was a new `solidity-coverage` version out since I ran `yarn outdated` and it told me there was a new upgrade `0.7.3`.

Maybe I am on the wrong `solidity coverage` version because I use `0.7.0-beta.3` as was prescribed in the [docs](https://buidler.dev/plugins/solidity-coverage.html#installation)

So no, I did not update the parse

[2020-04-09 17:19] cgewecke commented on #14
@gitpusha The parser update will be in `0.7.4`

[2020-04-15 09:31] gitpusha commented on #14
Hi @cgewecke and @fvictorio I am just tried out `0.7.4`:
The good news: Almost all contracts I want covered are successfully instrumented for coverage.
The bad news: At least one of them isnt due to a parser error (see bottom).

 **I assume that the Parser throws this error because it does not recognize Contract Types as keys for solidity mappings.**  See the source code (lines 25 -32):
The error

[2020-04-15 12:29] fvictorio commented on #14
Thanks @gitpusha for the kind words :slightly_smiling_face:

This seems like an easy problem to fix, thanks for letting me know.

[2020-04-18 15:07] #14 closed

[2020-04-18 15:11] fvictorio commented on #14
Fixed in 0.6.0.

[2020-04-20 16:07] gitpusha commented on #14
Hi @fvictorio . Thank you again for your swift aid!

We just started using the new `immutable` syntax available since `solidity 0.6.5`.

Does the parser already support that syntax?

@cgewecke solidity-coverage `0.7.4` was not able to instrument my contracts that use `immutable`.

I know the solidity update was only like 10 days ago, but do you plan to upgrade your tools soon?

I am asking because

[2020-04-20 16:24] cgewecke commented on #14
@gitpusha Yes, no problem - I will publish again today.

[2020-04-20 16:27] cgewecke commented on #14
@gitpusha Oh I'm sorry - I'm not sure what the status of the immutable syntax is.....

[2020-04-20 16:39] fvictorio opened #17 "Handle immutable state variables"

[2020-04-20 16:39] fvictorio commented on #14
It should support it, but the AST doesn't indicate that a state variable is immutable. I opened #17 to track that.

[2020-04-21 11:20] gitpusha commented on #14
Thanks you both!

@fvictorio @cgewecke  I get these when running `solidity coverage 0.7.4` for my contracts that use `immutable`:

**example using immutable combined with override**

[code]
[code]

**another Example using a Solidity interface**

[code]
[code]

[2020-04-21 19:11] cgewecke commented on #14
@gitpusha If you have a chance could you install `solidity-coverage` from the git master branch  and see if all the parsing problems in your project are resolved? (Haven't published 0.7.5 yet...)

[code]

[2020-04-22 14:01] gitpusha commented on #14
Hi @cgewecke.  I installed `solidity-coverage` from git master branch and all the parsing problems are resolved !

Thank you both very much @fvictorio !

[2020-05-06 23:37] #17 closed

[2020-05-25 23:16] alcuadrado opened #19 "Node 14: Warning: Accessing non-existent property 'INVALID_ALT_NUMBER' of module exports inside circular dependency"
When using this parser on Node 14, I get this warnings:

[code]

[2020-05-26 03:48] Janther opened #20 "add `virtual` and `override` for modifiers"
Modifiers also have `virtual` and `override`.

Here is the [documentation](https://solidity.readthedocs.io/en/v0.6.8/contracts.html#index-18)

[code]

In case of multiple inheritance, all direct base contracts must be specified explicitly:

[code]

[2020-06-03 14:55] fvictorio commented on #20
Fixed in a5afbde236f88c51276ff72ca4153125f4e71ea6

[2020-06-03 14:56] #20 closed

[2020-06-03 16:32] fvictorio commented on #19
Thanks for reporting this! Seems to be a problem upstream: https://github.com/antlr/antlr4/issues/2834

[2020-07-14 09:46] Pet3ris opened #21 "Reference to ctx.constructor.name in ASTBuilder breaks webpack production builds"
Hi There,

I'm running into an issue where a simple `parse` on the following contract code results in divergent parsing locally vs. in production (javascript):

[code]

Locally I get an AST element starting with `SourceUnit`, in production I get an object like so:

[code]

Do you have any thoughts on what may be causing this? Is there perhaps an `antlr` compilation step that occurs as the `yarn` p

[2020-07-14 13:50] Pet3ris commented on #21
**Update**: The difference arises from use of `webpack`.

With `NODE_ENV=production webpack`, there are issues, without there aren't issues. Currently investigating whether certain essential code may get optimised away.

[2020-07-14 16:36] Pet3ris commented on #21
I've now reproduced this issue in a minimal repository where you can run it with:

1) `npm run start` => to see how it runs successfully (observe `console.log` output)
2) `npm run preview` => to see how it fails in production (observe `console.log` output)

[2020-07-14 19:54] Pet3ris commented on #21
*UPDATE* - the issue is the reference to construtor names, more from `webpack` authors here: https://github.com/webpack/webpack/issues/11174#issuecomment-658306109.

[2020-07-14 20:30] Pet3ris commented on #21
Current workaround: add this to your `webpack.prod.js` (production config):

[code]

[2020-07-23 21:37] sebastinez opened #22 "Add support for parsing the SPDX-License-Identifier"
Solidity 0.6.8 introduces SPDX license identifiers so developers can specify the license the contract uses. [Source](https://github.com/ethereum/solidity/releases/tag/v0.6.8)

I think there are tools that use this library that would benefit if this would be implemented for example solhint.

I would like to provide a PR to implement this, but I'm a little bit out of my depth here.. If one can give

[2020-07-24 15:21] sebastinez commented on #22
I opened a [PR](https://github.com/solidity-parser/antlr/pull/7) on the antlr repo with support for the `// SPDX-License-Identifier`.

But I encountered conflicts with the regular comment keyword
[code]
If anyone could help out, would really appreciate it.

[2020-07-29 23:18] fvictorio opened #23 "Make visibility in constructor optional"
Starting from solidity 0.7.0, constructors shouldn't have a constructor.

I think the fix here is just to make the keyword optional after constructors, and to update the node properly.

[2020-07-29 23:21] fvictorio commented on #22
Hey @sebastinez, I totally missed this issue and the PR! Sorry about that.

Right now the parser just ignores all comments, which is a shame for things like this or natspec. I don't really know the best way to do this, but I'll try to do some research. Thanks for opening this issue!

[2020-07-29 23:23] fvictorio commented on #21
Hey @Pet3ris, thanks a lot for this!

For some reason, my GitHub user stopped watching this repo and I missed a couple of issues :/ Sorry about that. I'll look into this as soon as I can.

[2020-07-30 12:22] fvictorio opened #25 "Add github action for running tests"

[2020-07-30 18:29] sebastinez commented on #22
One way I resolved the issue of the comment ignoring is by adding the comments to the AST.

For example for the spdx-license:
[code]

The problem with this approach is that one has to implement the comment token in every place where comments can occur, which is almost everywhere..

The other approach but would be to send comments to a separate channel and filter/search them in the wrapper instead

[2020-08-04 07:49] Pet3ris commented on #21
No problem @fvictorio - I didn't know webpack made assumptions about code structure so this was interesting.

[2020-08-20 13:19] fvictorio commented on #21
Hey @Pet3ris, now I understand your issue: the problem is when you consume this module from a project that uses webpack and minimizes the code, right?

I don't think there's a workwaround for this :( The `Context` suffix thing comes from [antlr](https://www.antlr.org/), so it's not something I can control. The only thing I can do is add a section in the README with a warning about this.

[2020-08-20 13:22] fvictorio commented on #22
Yeah, this is tricky, and I'm not proficient enough in antlr to know the best way to do this :( But this is something with a lot of potential (it could also be used to detect natspec comments), so I'll leave this open in case anyone knows better, or until I have enough time to give it a deep dive.

[2020-08-20 13:58] Pet3ris commented on #21
@fvictorio - that makes sense! Hopefully the work-around is useful for other people running into this issue.

I suspect that this hasn't been an issue so far because most have used solidity parser in the back-end, where people don't tend to use webpack as much.

[2020-08-20 17:28] #21 closed

[2020-08-27 12:33] stfl commented on #19
I am seeing the same issue. when will this be fixed?

[2020-08-28 21:08] fvictorio commented on #19
Hey @stfl, this depends on the fix for the linked antlr issue being published.

[2020-11-08 12:52] fvictorio opened #30 "Always expose information about the underlying node"
Nodes like `FunctionDefinition` have properties like `visibility` and `stateMutability` that are plain strings, but that don't have information about the original text. This makes it harder to implement things like the `visibility-modifier-order` rule in Solhint because you have no way of knowing the position in the original text where that value comes from. A slightly better idea is that a `Funct

[2020-11-08 13:30] fvictorio opened #31 "Migrate to typescript and jest"
I would like to refactor this project to use typescript (just because typescript, but also to not have to maintain the type declarations) and to jest (because a lot of tests here are practically snapshot tests).

[2020-11-09 20:27] chapati23 commented on #19
FYI: Looks fixed in the upstream repo now!
https://github.com/antlr/antlr4/issues/2834#issuecomment-703337241

[2020-11-09 21:21] fvictorio commented on #19
It seems like that change will be part of 4.9, which doesn't seem to be released.

[2020-11-10 10:01] chapati23 commented on #19
you're right, looks like we'll need for antlr@4.9 release
i just assumed it was already released

here's the 4.9 milestone link to track it: https://github.com/antlr/antlr4/milestone/20

[2020-11-10 12:09] fvictorio commented on #19
Ok, I just used the unreleased version and it seems like it worked. But it was a HUGE change, so I published it under a rc for now. If someone wants to give it a try, `npm i @solidity-parser/parser@rc`. I tried it in prettier solidity and it worked fine.

cc @cgewecke @fernandomg

[2020-11-12 09:04] junderw opened #32 "Support multiline hex literals."
This was merged in https://github.com/ethereum/solidity/pull/7524 1 year ago.

Given the case:

[code]

`a == b` and `c == d` in this case. line breaks and spaces can be in between each section.

It makes code readability much easier.

We use prettier, so doing this breaks formatting for us.

[2020-11-12 09:10] junderw commented on #32
It looks like solidity works even with comments in between the sections:

[code]
These all compile and work fine.

[2020-11-12 11:39] junderw commented on #32
Looks like StringLiterals are supported for multiline/spaces.

If you could add support to HexLiterals in a similar manner I would appreciate it. Thanks.

[2020-11-19 01:25] fvictorio commented on #32
Fixed in 0.9.1.

[2020-11-19 01:25] #32 closed

[2020-12-03 06:25] cgewecke opened #33 "Question about antlr4 dependency & minimum Node version"
(Thanks a million for maintaining this @fvictorio. It's the best.)

In 71f83ca96f116977011770d6761f54316e38652b antlr4 is added as a direct dependency.

Was updating some things to `0.9.1` and am getting the installation error below when is Node < 14.

14 is LTS as of late October but just wanted to double-check with you that this is expected.

[code]

[2020-12-03 08:26] cgewecke commented on #33
Sorry, I just found the relevant antlr4 docs and they say that's their target. 😅

[2020-12-03 14:17] fvictorio commented on #33
But you are rights, this shouldn't happen. I'm planning on packaging this library with rollup or something like that, and to remove `antlr4` as a dependency. That way this library will continue to work with any version.

[2020-12-09 15:17] #33 closed

[2020-12-09 15:20] fvictorio commented on #33
Fixed on `@solidity-parser/parser@0.10.1`

[2020-12-09 23:35] fvictorio opened #35 "Versions with `||` cannot be parsed"
For example:

`pragma solidity ^0.5.0 || ^0.6.0 || ^0.7.0;`

[2020-12-21 13:24] fvictorio opened #36 "Add support for solidity 0.8.0"
As far as I know, the main syntax change is the new `unchecked` blocks, but there might be other things.

[2020-12-24 17:44] fvictorio commented on #35
Fixed in `v0.10.2`

[2020-12-24 17:44] #35 closed

[2020-12-28 19:15] fvictorio commented on #36
Fixed in [v0.11.0](https://github.com/solidity-parser/parser/releases/tag/v0.11.0)

[2020-12-28 19:15] #36 closed

[2021-01-13 17:07] adhusson opened #37 "Support gwei as a literal unit"
Currently, the parser only supports `wei`, `szabo`, `finney`, `ether` as well as time units. But while solc doesn't support `szabo` nor `finney` [since 0.7.0](https://github.com/ethereum/solidity/blob/develop/Changelog.md#070-2020-07-28), it supports `gwei` [since 0.6.11](https://github.com/ethereum/solidity/blob/develop/Changelog.md#0611-2020-07-07).

[2021-01-16 14:01] fvictorio commented on #37
Thank you @adhusson, I'll take care of this next week.

[2021-01-20 14:39] fvictorio commented on #37
Fixed in `v0.11.1`.

[2021-01-20 14:39] #37 closed

[2021-02-05 03:09] prestwich commented on #19
An idea when we'll get an official release? With apple silicon, using v15.3.0 or later is now basically mandatory (due to [this issue](https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/259))

[2021-02-08 11:40] fvictorio commented on #19
@prestwich yes, `eth-gas-reporter` seems to be on `^0.8.2`, and I think I fixed this on a later version (don't remember exactly which one now).

cc @cgewecke

[2021-02-08 11:40] #19 closed

[2021-02-08 17:16] cgewecke commented on #19
@fvictorio Ah! Thanks for the ping. Will fix rn.

[2021-02-14 12:33] lonelyenvoy opened #38 "Add support for unicode literals"
Since v0.7.0, Solidity has a new syntax for unicode literals (see [documents](https://docs.soliditylang.org/en/v0.8.1/types.html#unicode-literals)):

[code]
However, this is not currently supported by the parser.

For the following Javascript code:
[code]

An error will be thrown:
[code]

[2021-02-17 16:39] fvictorio commented on #38
Thanks @lonelyenvoy, I didn't know about this feature!

[2021-02-26 02:19] lonelyenvoy opened #40 "Some interfaces are incorrectly typed in `ast-types.d.ts`"
Thank you for implementing the parser - it's very useful.

I'd like to point out some typing problems in `dist/ast-types.d.ts`.

### The type of `BaseASTNode.loc` is wrong
[code]

I guess the definition of `Location` is missing? The `Location` here is an interface in the [typescript standard library](https://github.com/microsoft/TypeScript/blob/df5ffc0ea11712d80fb0d1ee2fa5607715ac0b1e/lib/lib.dom.

[2021-02-26 02:31] lonelyenvoy opened #41 "Unable to detect unnamed overriding"
I want to find out function overriding and function modifier overriding in the AST. However, it seems not possible in some situation.

[code]

The `override` array of the `FunctionDefinition` node of `B.f` is empty, which means I cannot know whether a function is overriding another function in the parent contract. However, the code below works:

[code]

When the name is explicitly given in `overri

[2021-03-02 14:34] rmeissner opened #42 "Nightly compiler not supported in pragma"
If the contract contains `pragma solidity >=0.8.2-nightly <0.9.0;` the parser returns for the pragma node `{ type: 'PragmaDirective', name: 'solidity', value: '>=0.8.2' }`.

I would expect the value to be `>=0.8.2-nightly <0.9.0`

Version used: `0.11.1` via hardhat

[2021-03-02 15:04] rmeissner commented on #42
NVM solidty doesn't allow that 😬

[2021-03-02 15:04] #42 closed

[2021-03-04 17:48] fvictorio commented on #41
Yes, sorry about that, this project has 0 docs at the moment.

When a function node doesn't have an `override` modifier, the value of the `override` property for that node is `null`.

If it does have an `override` but it doesn't passes any contract name, then the `override` property is `[]`.

Finally, if there are explicit overrides, the `override` property has a list of the `UserDefinedTypeName`

[2021-03-04 17:49] fvictorio commented on #40
Yeah, I tried to improve this but it's still a mess. I want to at some point make things so that the project doesn't compile if the node types are not correct. Sadly I haven't been able to do it yet.

[2021-03-04 18:59] fvictorio commented on #38
Fixed in `0.12.0`

[2021-03-04 18:59] #38 closed

[2021-03-08 12:22] lonelyenvoy commented on #41
Oh, I understand. Thanks for your explanation.

[2021-03-08 12:22] #41 closed

[2021-03-08 22:48] fvictorio opened #43 "Add support for virtual modifiers"
Example:

[code]

[2021-04-25 12:48] mentalrob opened #44 "Cannot parse SafeMath.sol from openzeppelin"
Hello guys. I am using truffle-flattener package with openzeppelin. Which is using this repo for parsing solidity code.

When I run truffle-flattener I got this error
[code]
Here is the SafeMath.sol file that i have
[code]
I guess `unchecked` word is causing this issue.
Any ideas to fix this ?
Thanks

[2021-04-26 19:23] fvictorio opened #45 "Add support for solidity 0.8.4 custom errors"
Example:

[code]

Also [this explainer](https://blog.soliditylang.org/2021/04/21/custom-errors/)

[2021-04-26 19:36] fvictorio commented on #44
Thank you @mentalrob, I'll take a look as soon as I can.

[2021-05-27 19:59] tintinweb opened #46 "Inaccurate location information for VariableDeclaration since 0.13.x"
Hey 👋

I am using this parser in my vscode extension [vscode-visual-developer](https://marketplace.visualstudio.com/items?itemName=tintinweb.solidity-visual-auditor). I just tried updating von 0.12.x to 0.13.x and found out that the location information for `VariableDeclaration` AST types is off. It seems to always start at line-start now 🤔

Here's a screenshot that visualizes this. My extension h

[2021-05-27 21:42] fvictorio commented on #46
Ugh, I did a huge refactor for 0.13 and I might have fucked up something. Thanks for reporting this!

[2021-05-28 15:28] fvictorio commented on #46
Hmm, I'm looking into this and I feel that the _previous_ behavior was the buggy one. Since the node is a `VariableDeclaration`, then the whole declaration should be the range of the node.

That being said, I understand why you'd want to know the range of the name of the declared variable. That's not possible right now because the node has a `name: string` property, instead of having a child that

[2021-05-28 16:07] tintinweb commented on #46
I think I get your point. `VariableDeclaration` refers to the complete line and hence `loc` should reflect that. There's already some redundancy with the `StateVariableDeclaration.variables=[VariableDeclaration, ...]` pattern (unless one svar declaration can really reference multiple vardecs).

The identifier as proposed would be an option that would definitely work for me and would give direct ac

[2021-05-28 17:00] fvictorio commented on #46
Yes, I don't know why `StateVariableDeclaration` is always a singleton array with `VariableDeclaration`, I think it was done that way before I started maintaining the parser. At some point I will make a huge breaking change revamping the AST and hopefully the structure will be a little better.

[2021-05-29 14:27] fvictorio commented on #46
Hey @tintinweb, I just published a new version that includes this change. Please let me know if it works for you and feel free to re-open this if it doesn't.

Btw, I want to create a Telegram for users of this parser. Do you mind if I add you? (I assume your telegram handle is the one in your github profile).

[2021-05-29 14:27] #46 closed

[2021-05-29 14:27] #45 closed

[2021-05-29 18:43] tintinweb commented on #46
@fvictorio cool 😎 count me in. is this the solc-tooling telegram channel or a solidity-parser specific one?

btw. I am running into an infinite recursion loop with v0.13.0 while parsing `Identifiers` from a `functionDefinition` node. I traced it down to this line:

https://github.com/solidity-parser/parser/blame/1431a8eeb6b863aa3b8521214d2896141d7509ec/src/parser.ts#L121

It checks for `false` but

[2021-05-29 22:09] fvictorio commented on #46
That is very weird. Do you think you can make a minimal reproduction example of this?

If not, would just checking for undefined there (besides false) solve your problem?

[2021-05-30 16:30] tintinweb commented on #46
@fvictorio ignore that last issue. it magically resolved. probably a vscode issue or a dirty state. I'll open an issue if it happens again and will provide a minimal testcase.

cheers 🙌

[2021-05-31 13:00] tintinweb commented on #46
digged a little deeper into how the visitor works to debug the initial problem I had. this is what I found out:

* The check at https://github.com/solidity-parser/parser/blame/1431a8eeb6b863aa3b8521214d2896141d7509ec/src/parser.ts#L121 essentially allows a type handler function to signal that parsing should stop at this layer. If we would have changed this to `undefined` we'd have broken the parse

[2021-06-18 03:20] Janther opened #47 "Can't seem to load browser friendly parser"
If trying to load the browser friendly parser I get an empty object.

[code]

[2021-06-18 21:31] Janther commented on #47
If I load it as it's own file I have access to `window.SolidityParser` but that would mean that I'd have to override the `prettier-solidity-plugin` behaviour, I made it work but it does look like a hack.

[2021-06-22 03:21] Janther commented on #47
after some battling with this, I was able to make this work in a not too hacky way.

[code]

[2021-06-23 01:08] Janther opened #48 "SharedArrayBuffer will require cross-origin isolation in browsers."
When working on a Prettier plugin for Remix I discovered that `SharedArrayBuffer` will require cross-origin isolation.

Not sure how this will impact the browser friendly version of this library but you might need to check if this can be addressed.

[2021-06-28 12:24] fvictorio commented on #47
Ideally the browser output would be UMD instead of an IIFE, but sadly `esbuild` doesn't support UMD yet: https://github.com/evanw/esbuild/issues/507 There seems to be an ugly workaround: https://github.com/evanw/esbuild/issues/507#issuecomment-797641838

[2021-07-02 16:06] naddison36 commented on #22
Does anyone know of a way to parse Natspec without using the solc compiler?

I'd like to add a feature to sol2uml that outputs contract doco but I see the Solidity parser doesn't currently support parsing comments. Using solc in sol2uml is not ideal as it pulls contract source from Etherscan which can be any Solidity version. I'd like to avoid downloading the matching solc version just to parse Na

[2021-07-12 09:33] hoangquochung95 opened #49 "Error Parse with BEP20Token.sol"
Hi,
I use solidity-parser to parse file BEP20Token.sol ( from [Binance](https://docs.binance.org/smart-chain/developer/BEP20Token.template) ) but I get an error

My code:

[code]

[code]
Thanks

[2021-07-12 09:42] hoangquochung95 commented on #49
Sorry, file BEP20Token.sol have some variable need fill, It makes error

[2021-07-12 09:42] #49 closed

[2021-07-20 11:31] fvictorio opened #50 "Investigate better error handling"
There is a "Error Reporting and Recovery" chapter in the ANTLR book. It would be useful to check if there's something there that can be applied in this parser. Right now the tolerant mode works in some cases, like this:

[code]

but not on other like this:

[code]

I have no idea what the trade-offs are here, nor the complexity involved in improving this.

[2021-08-19 09:59] aquiladev opened #51 "Import `0.13.2` fail"
I have react app. Everything works well with version `0.9.1`, but when I installed `0.13.2` import fails

`import parser from '@solidity-parser/parser';`
as well as
`import * as parser from '@solidity-parser/parser';`
`const parser require('@solidity-parser/parser');`

error:
[code]

on localhost:
[code]

Repo: https://github.com/aquiladev/remix-sol2uml

[2021-08-19 17:05] AlbertSu123 commented on #44
I ran safemath.sol through the javascript solidity parser, this is the output I got:
![image](https://user-images.githubusercontent.com/30268067/130112276-76bee6eb-4ccb-4b11-961b-58b302c8d590.png)

I'm guessing the reason it is failing is because of the ` symbol in the comments which messes with the solidity parser. If you remove them from safemath.sol, it should parse as usual.

My code:
`
try {

[2021-08-20 17:20] fvictorio commented on #44
Hey @mentalrob, sorry for not responding to this before. The latest version of the parser works fine with the snippet you shared. It's likely that you are right and that the `unchecked` keyword was the problem, but that's supported now.

I'm going to close this, but please re-open if this still happens to you with the latest version.

[2021-08-20 17:20] #44 closed

[2021-08-20 17:22] fvictorio commented on #51
Hi @aquiladev. I think this is the same issue as #47. I'm going to close this one for bookkeeping reasons, but please re-open if you think this is a different issue.

[2021-08-20 17:22] #51 closed

[2021-08-21 02:18] naddison36 opened #52 "ArrayTypeName.length incorrect type"
`ArrayTypeName` is currently defined with `length` having type `Expression | null`
[code]

At runtime, the length for a fixed length array is returning a `length` of type `NumberLiteral`. So the type should be
[code]

Some example fixed length arrays are
[code]

I tried to create a PR for this but I got lost in the required ASTBuilder changes in the `visitTypeName` function.

[2021-08-21 14:17] naddison36 opened #53 "VariableDeclaration type missing isImmutable"
The `VariableDeclaration` type is missing the `isImmutable` boolean value which is available at runtime

[code]

[2021-09-03 15:43] aquiladev commented on #47
any updates so far?

[2021-09-03 16:24] fvictorio commented on #47
@aquiladev sorry, no. I think there are some manual shenanigans that I could do; if this is blocking something important for you I can try to do it one of these days.

[2021-09-03 16:39] aquiladev commented on #47
the issue crashed [remix plugin sol2uml](https://github.com/aquiladev/remix-sol2uml), I'm thinking to revert it to previous version

[2021-09-03 17:07] fvictorio commented on #47
@aquiladev Oh, that sucks. Are you on telegram? Can you DM me?

[2021-09-07 16:20] fvictorio opened #54 "Cannot parse nested arrays in abi.decode"
This throws:

[code]

[2021-09-17 19:18] fvictorio commented on #52
Hey @naddison36, I'm not sure this is correct. It's possible to use something that is not a `NumberLiteral` there. An obvious case is:

[code]

and a more realistic one is:

[code]

Please re-open if I'm missing something here!

[2021-09-17 19:18] #52 closed

[2021-09-17 19:20] fvictorio commented on #53
The `isImmutable` field is present in the `StateVariableDeclarationVariable` type, which is a sub-type of `VariableDeclaration` (there are variable declarations that cannot have the immutable keyword).

I know the types are a bit of a mess, sorry! If you think this can be improved in a backards-compatible way, let me know.

[2021-09-17 19:22] #43 closed

[2021-09-17 19:22] #23 closed

[2021-09-17 19:23] #11 closed

[2021-09-17 19:23] #13 closed

[2021-09-17 19:25] fvictorio commented on #40
I think this is no longer relevant, since the project uses typescript now.

[2021-09-17 19:25] #40 closed

[2021-09-21 13:05] fvictorio opened #55 "Cannot parse `pragma solidity *;`"

[2021-09-25 10:43] axic opened #56 "Can't handle stray commas in parameter list"
[code]

results in
[code]

The same happens with return parameters:
[code]

I think there should be a nicer message saying what failed, if possible?

(*Originally opened at https://github.com/prettier-solidity/prettier-plugin-solidity/issues/585. Prettier uses the version 0.13.2 of the parser.*)

[2021-09-25 10:44] axic opened #57 "Unbalanced parenthesis cause unclear error message"
[code]

results in

[code]

I think there should be a nicer message saying what failed, if possible?

(*Originally opened at https://github.com/prettier-solidity/prettier-plugin-solidity/issues/586. Prettier uses the version 0.13.2 of the parser.*)

[2021-10-01 06:17] 0xbribe opened #58 "UserDefined type not supported"
UserDefined type introduced in solidity 0.8.8 is not able to be parsed with solidity parser.
it may be issue with antlr so I also mad a PR in antlr(https://github.com/solidity-parser/antlr/pull/10)
I guess parser itself also needs an update after fixing antlr.

[2021-10-01 17:35] ControlCplusControlV commented on #55
Need any help on this? Would love to help out for hacktoberfest!

[2021-11-14 10:22] 0xbribe commented on #58
resolved in release [0.14.0](https://github.com/solidity-parser/parser/releases/tag/v0.14.0)

[2021-11-14 10:22] #58 closed

[2021-12-06 22:50] Janther opened #59 "Libraries under namespaces are not accepted in `using ... for`"
As reported in prettier-solidity/prettier-plugin-solidity#622

The parser does not yet support namespaces in `using ... for`.

[2022-02-10 12:28] fvictorio commented on #59
Fixed in `@solidity-parser/parser@0.14.1`

[2022-02-10 12:28] #59 closed

[2022-02-21 21:56] fvictorio opened #60 "Handle commas in assembly assignment"
This is valid code but it generates a parsing error in the `let i, j` line:

[code]

[2022-02-22 03:12] potomak commented on #60
Would this issue be a good candidate for a new code contributor?

[2022-02-22 12:56] fvictorio commented on #60
I'm not sure how hard it is, but feel free to give it a try and let me know if you need help!

The [grammar](https://github.com/solidity-parser/antlr/blob/bea3c639cf4f450f8a9f0a1b08230abec7545664/Solidity.g4#L356) seems to already support this kind of assignment (although it's not included in the [test file](https://github.com/solidity-parser/antlr/blob/bea3c639cf4f450f8a9f0a1b08230abec7545664/tes

[2022-02-22 13:00] fvictorio commented on #60
Oh, I see the problem now. It seems that multiple assignments are only supported when you use parentheses. Maybe this is how solidity used to work but it changed at some point?

So, the things to do are:

1) Update the grammar to allow multiple assignments without parentheses
2) Update the `test.sol` file
3) Update the AST tests in the parser
4) I think the `ASTBuilder` should just work, so these

[2022-02-22 22:32] potomak commented on #60
I think that would fix the issue, but it would be a bit too permissive.

I found in [SolidityParser.g4](https://github.com/ethereum/solidity/blob/develop/docs/grammar/SolidityParser.g4#L534-L538) that multi-assignments require a function call:

Because of that I don't think the current implementation is correct. I mean can `assemblyIdentifierOrList` be used generically in `assemblyLocalDefinition`

[2022-02-23 00:14] fvictorio commented on #60
This parser is very permissive and processes a lot of invalid (that is: non-compilable) solidity code. The main reason is that it has to work with all versions of solidity, and the easiest way to do that is to accept a lot of things that are not semantically valid.

I don't think so, for the same reason: the parser in `ethereum/solidity` is per-version, while this one works with any version of sol

[2022-03-27 06:01] kbrizzle opened #61 "Cannot parse new `using ... global` syntax"
Solidity [0.8.13](https://blog.soliditylang.org/2022/03/16/solidity-0.8.13-release-announcement/) introduced a new file-level syntax for specifying a global `using` statement on user-defined types:

`using ... for ... global;`

Solidity parser currently cannot handle this syntax.

Example contract using this syntax:

[code]

[2022-03-28 15:21] fvictorio commented on #61
Thanks a lot for reporting this @kbrizzle, will try to take a look this week.

[2022-04-25 22:55] kbrizzle commented on #61
Hey @fvictorio any updates on this issue? thanks 🙏

[2022-05-04 15:44] Troublor opened #62 "[Question] How can I re-generate solidity source code after I make changes to the AST?"
Hi, I would like to transpile solidity source code by first generating AST from source code, modifying AST, and then generating source code based on the modified AST. Is this possible with `solidity-parser`? I can only find `parse` API in the documentation.

[2022-05-07 16:53] giuseppeg commented on #47
@fvictorio would it be possible to generate two different bundles? iife and esm? I'd like to use it in a browser app but import it as a dependency rather than adding a script tag

[2022-05-20 21:04] #12 closed

[2022-05-20 21:06] #22 closed

[2022-05-20 21:07] #53 closed

[2022-05-20 21:40] #54 closed

[2022-05-20 21:42] #55 closed

[2022-05-20 21:45] fvictorio commented on #56
Hey @axic, thanks for reporting this.

Sadly, I don't think I'll be able to do this in the near future. More graceful error handling is way beyond my antlr knowledge, and I hope this package will eventually be replaced by slang's parser (which will have nice error handling as one of its goals). So I'm going to close this for bookkeeping, hope you don't mind!

[2022-05-20 21:45] #56 closed

[2022-05-20 21:45] fvictorio commented on #57
See https://github.com/solidity-parser/parser/issues/56#issuecomment-1133412038

[2022-05-20 21:45] #57 closed

[2022-05-20 22:25] fvictorio commented on #61
@kbrizzle I fixed this and published it under the `beta` tag (for now). You can try it with `npm i @solidity-parser/parser@beta` Thanks for reporting it and sorry for taking so long to fix it!

[2022-05-20 22:25] #61 closed

[2022-05-20 22:30] fvictorio opened #63 "Support `"memory-safe"` markers in assembly blocks"
Solidity 0.8.13 introduced this:

[code]

[2022-05-20 22:43] #63 closed

[2022-05-26 16:29] sambacha commented on #55
:))))))))))

looking forward to the next release!

[2022-05-26 17:06] fvictorio commented on #55
Hey @sambacha, I already released this but under the `beta` tag, because I did several changes in one go and I want to be sure I didn't break anything. You should be able to try it out with `npm i @solidity-parser/parser@beta`.

[2022-05-26 17:09] sambacha commented on #55
Awesome! FYI i just updated the PR against hardhat repo just now.

Will be testing it out with the updated prettier build today thx.

Also Antlr has redone their javascript runtime in the latest release may be worth considering an update from the current version idk 🤷‍♂️

Cheers

[2022-06-02 00:08] Oighty opened #65 "Bug: Expanded fallback function syntax not properly parsed"
Fallback functions with the expanded syntax for inputs and output: `fallback (bytes calldata input) external [payable] returns (bytes memory output)` are not correctly parsed. This syntax is valid per the latest [Solidity documentation](https://docs.soliditylang.org/en/v0.8.14/contracts.html#fallback-function).

This issue is in reference to a related bug in the [prettier-solidity/prettier-plugin-

[2022-06-02 07:52] mnusurov commented on #65
Having the same issue would appreciate it if this can be fixed asap.

[2022-06-07 19:15] zerosnacks opened #66 "Unable to parse address[][] in abidecode()"
Whilst the Solidity compiler compiles this without errors the parser throws (both with Solhint and Prettier) on the following line:

[code]

Context: https://github.com/Rari-Capital/fuse-v1/blob/15b3920fb017b3115b07362d7578d2df65f36582/src/liquidators/BalancerPoolTokenLiquidator.sol#L63

Error (on running Solhint):
[code]

[2022-06-07 20:22] fvictorio commented on #66
Thank you, I'll try to get this fixed as soon as I have some time.

[2022-06-16 15:38] patrickd- opened #67 "Memory safe assembly blocks cause parse error"
Changing

[code]

as per https://docs.soliditylang.org/en/v0.8.13/assembly.html#memory-safety

will cause a parser error (in solhin):

[code]

[2022-06-16 15:49] fvictorio commented on #67
Hi @patrickd-, I'm pretty sure this is fixed in the latest version of the parser, so this should be an issue in the solhint repo about updating their dependency.

[2022-06-16 15:49] #67 closed

[2022-06-16 17:23] fvictorio commented on #67
Oh, yes, sorry, that functionality is in the `0.14.2-beta.1` version.

[2022-06-16 17:24] fvictorio commented on #67
I just published `0.14.12` as the latest version. Please let me know if that still doesn't work.

[2022-06-16 17:32] patrickd- commented on #67
That works, thanks!

[2022-06-19 18:56] omurovec opened #68 "Assertion error: primary expression should exist when children length is 1"
After upgrading from `"0.13.2"` to `"0.14.2"` I receive the following error:

[code]

Tried looking for the error in `Perpetual.sol` but there's no given line numbers and couldn't find any info on this particular error anywhere.

[2022-06-25 04:17] Janther commented on #65
The same applies to `receive` functions

[2022-07-04 13:26] aoi-w commented on #68
@omurovec It would be difficult for developers to investigate the problem without a reproducible test case. Could you provide the copy of `contracts/Perpetual.sol`?

[2022-07-11 08:14] #66 closed

[2022-07-11 08:15] fvictorio commented on #62
Hey @Troublor, sorry for not responding before. This is not possible with the parser, but it might be possible with the prettier API. I'm not 100% sure about this, though. There was some issue about adding a function that receives an AST directly, but I don't know if that's already available.

[2022-07-11 08:16] zerosnacks commented on #66
Thanks! 😀

[2022-07-11 08:23] fvictorio commented on #62
I believe you should do something like [this](https://gist.github.com/donaldpipowitch/222b673fc3af4aee5a797920099b7ddd). I haven't tried it, but the approach looks correct: you run prettier (with the solidity plugin included) using a custom parser that runs this parser, makes some modifications to the AST, and returns the modified AST.

Sorry for not being able to give you more specific tips, but

[2022-07-11 08:23] #62 closed

[2022-07-11 08:24] Troublor commented on #62
Yes, it is possible with [prettier-solidity-plugin](https://github.com/prettier-solidity/prettier-plugin-solidity). However, it is not an easy use.

Just as you mentioned, I had to create a [custom prettier plugin](https://prettier.io/docs/en/plugins.html#developing-plugins) by extending the existing [prettier-solidity-plugin](https://github.com/prettier-solidity/prettier-plugin-solidity).
Then I

[2022-07-11 08:28] Troublor commented on #62
For those who come later. Another choice is to use [solc-typed-ast](https://github.com/ConsenSys/solc-typed-ast), which provides APIs to do this. However, the AST structure there may be different from this library.

[2022-07-19 17:56] walnutwaldo opened #70 "Module Import Error Within NextJS"
Hi! I'm trying to use the `@solidity-parser/parser` npm package within a **Next JS typescript** project. Unfortunately, when I try to import something:

`import {parse} from "@solidity-parser/parser"`

I get this error

[code]

I haven't been able to find a similar error anywhere else on the web. It looks like it has something to do with the webpack configuration and the way the module is being im

[2022-08-02 12:33] robinstraub opened #71 "Typescript node types"
Thank you for your work, the project is working great.

I am using typescript and would like to make use of node typing. As the project is a fork of @federicobond project, in which there are node typings ([https://github.com/federicobond/solidity-parser-antlr/blob/master/index.d.ts](https://github.com/federicobond/solidity-parser-antlr/blob/master/index.d.ts)) I was wondering if typing were implem

[2022-08-02 20:26] robinstraub commented on #70
Hi, in case you haven't solved your issue, it is not something linked to NestJS but more to a typescript/webpack config. If you don't want to alter their configuration, which can be cumbersome depending on their versions, a simple `import * as parser from '@solidity-parser/parser';` does the trick.

Out of interest, what is your use-case for a solidity-parser with NestJS?

[2022-08-03 07:14] fvictorio commented on #71
This project is now in typescript, so types should work out of the box. Are they not working for you?

[2022-08-03 20:01] walnutwaldo commented on #70
Unfortunately, that didn't seem to fix the issue. In case you misread, I am using it with NextJS, not NestJS. I just want to be able to parse some solidity code for some AST nodes on a frontend application. I got around it by using @solidity-parser on the backend instead of the frontend (for some reason, this no longer threw an error for me even though its within the same project).

[2022-08-04 04:57] robinstraub commented on #71
I did not note the project was now using typescript my bad.

Typings work correctly for the exported functions (parse, tokenize, visit). The module is not however (to my understanding) exporting the node typings, which I would like to reuse.

Trying to import a node type fails with a "no exported member" error. for instance the following line
[code]

causes the following build issue:
[code]

I am

[2022-08-08 10:06] fvictorio commented on #71
Oh I see. I guess I could export them too. But since there are a lot of them, I believe it would be good to export them either under some path (e.g. `@solidity-parser/parser/ast`) or under some namespace (`import { AST } from "@solidity-parser/parser"` and then `AST.SourceUnit`)

[2022-08-11 22:46] wadeAlexC opened #72 "Error encountered when parsing valid assembly switch statement"
Here's the Solidity - I tried to trim most of the code out so it's just left with the problematic stuff.

[code]

Here's the error I'm getting:

[code]

[2022-08-11 23:02] wadeAlexC commented on #72
After shaving more off, I think this is actually related to the statement `result := true`

I get a similar error from this file:
[code]

[2022-08-20 21:33] danfinlay opened #73 "Errors should include a line number"
I'm currently wrestling with a `Error: The specified node does not exist`, but it doesn't give me any hints about what a node is, what line the error is on, or anything. I basically have to bisect my code changes to figure anything out.

[2022-09-02 19:12] undauntedmark opened #74 "Locations on Identifiers and other node types are incorrect"
When using the parser with the option `loc: true`, there are many cases where the locations show the same line/column numbers for the start and end of the node.

The common case is Identifiers, though this also seems to appear in other places like in VariableDeclarations and NumberLiterals. The attached file shows a basic reproducer along with the AST that run.js produces when `{loc: true}` is add

[2022-09-21 12:18] ulasanil commented on #47
I am working on a project that runs purely on browser and I wasn't able to load this package. With a little bit of debugging I found the following code was the cause of the problem in `src/tokens-string.js`:

[code]

For some reason, `BROWSER` variable is always `undefined` and this causes problems on the bundler side because there is no `fs` module on browser. So what I did was to replace `BROWSE

[2022-09-21 12:30] ulasanil commented on #70
Hey @walnutwaldo can you try the fix that I mentioned at [here](https://github.com/solidity-parser/parser/issues/47#issuecomment-1253626888)? It fixed my problem, it might help you as well.

[2022-10-25 09:26] #60 closed

[2022-10-25 09:37] fvictorio commented on #68
Closing for lack of reproduction steps.

[2022-10-25 09:37] #68 closed

[2022-11-23 06:41] FrozenKiwi commented on #47
You can also get past `(typeof BROWSER !== "undefined")` without editing the src by using Webpack DefinePlugin
[code]

[2022-11-24 02:57] XD-OK commented on #72
I encountered the same problem

[2022-11-24 11:33] fvictorio commented on #72
This seems to be working in the latest version of the parser, so I'm going to close this issue.

@XD-OK if you are running into a problem and have a snippet of code that reproduces it, please open a new issue.

[2022-11-24 11:33] #72 closed